<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="layout/header :: header"></head>
<body>
<div id="wrapper">
    <div th:replace="layout/navbar :: navbar"></div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Message -->
            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${msg !=null}" class="alert alert-dismissable" th:classappend="${msgType!=null&&msgType=='error'?'alert-danger':'alert-info'}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span th:text="${msg}"></span>
                    </div>

                    <div th:if="${errors !=null}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h3>ERROR</h3>
                        <ul>
                            <li th:each="error: ${errors}" >
                                <b th:text="*{error.key}"></b>
                                <span th:text="*{error.value}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <section layout:fragment="content">
                <p>Page content goes here</p>
            </section>
        </div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
    <section layout:fragment="javascript">
    </section>
</div>



</body>
</html>